
{{ if not (eq .Site.Params.navigation.show_navigation false) }}
<nav>
    <ul>
    {{ range .Site.Menus.main }}
        {{ $cvURL := $.Site.Params.navigation.cv_url }}
        {{ if eq .Name "CV" }}
          {{ $href := .URL }}
          {{ if $cvURL }}
            {{ $href = $cvURL }}
          {{ end }}
          <li><strong><a href="{{ $href }}" target="_blank" rel="noopener noreferrer">{{ .Name }}</a></strong></li>
        {{ else }}
          <li><strong><a href="{{ .URL }}">{{ .Name }}</a></strong></li>
        {{ end }}
    {{ end }}
    </ul>
</nav>
{{ end }}
